html, body {
  margin: 0; 
  padding: 0;
  margin: 0 0 30px;
  color:white;  
}
.btn-primary {
  width: 100px;
}
h1 {
 color:#ffffff;
 padding-left:20px;
 } 
h2 {
color:#ffffff;
 padding-left:20px;
}h4 {
color:#ffffff;
 padding-left:20px;
}

p {
padding-left:20px;
color:white;
}
.header h1 {
  color:#ffffff; 
  margin-left:0px;
  font-size: 50px;  
  font-style: normal;
  font-weight: 400;
} 
.header ul, .footer ul {
  padding: 0 20px; 
  margin: 0; 
  list-style: none; 
} 
.header li {
  display: inline; 
  width: 100px; 
  text-align: center;
  margin: 6px; 
} 

.header li a {
  color:#000000;
} 

.header li.active a {
  background-color:#4646F2; 
}

.header li.active2 a{
  background-color:#337AB7;
}

.main {
  margin-bottom: 30px; 
} 
.project {
	float: left;
	margin: 0 10px 0px 0px;
}
.projects {
	float: right;
	margin: 0 10px 0px 0px;
}
.paragraph {
	margin-top: 20px;
	padding-left: 51px;
}
.fixtabbing {
  margin-left:52px;
  margin-right:65px;
}

.container2{
  padding-left:50px;
}

/*Image*//*
.thumbnail {
  padding: 0; 
  box-shadow:0px 2px 2px rgba(0,0,0,0.1); 
  border-radius:0px;
  border:0px;

}
.thumbnail, .not-wide img {
  width: 360px !important; 
}
.thumbnail img {
  width: 100%;
  height: 500px; 
  display: block;
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.thumbnail img:hover {
	opacity: 0.8;
    filter: alpha(opacity=40);
}
*/
.footer li {
  display: inline; 
  margin-right: 40px; 
  color: white;
 }
.footer p {
  margin: 0 30px 0 0; 
 padding-right:50px; 
 color:white;
}
.footer {
  padding: 30px 0; 
  color: #444; 
} 
iframe {
	padding-left:20px;
}

.head {
  padding-left:70px;
}

.pull-right {
  padding-right:60px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  padding: 40; 
  box-shadow:0px 2px 2px rgba(0,0,0,0.1); 
  border-radius:0px;
  border:0px;
}


.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 50px;
  left: 0;
  border-radius:0px;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  border-radius:0px;
  
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  border-radius:20px;
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius:20px;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color:#4b5470;
  border-radius:20px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
  border-radius:20px;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
  border-radius:20px;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  border-radius:10px;
}







/*THIS IS CSS FROM THE BOOTSTRAP. IT IS PURPOSELY SEPERATED.
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }

 
  
 
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}



